-----BEGIN PUBLIC KEY-----
uK48mZvqL5xV+lVINXDtOLM0zIsjsIwMTBFzOyz2acGfkkP/tJmn3WQSrc5OOmgl
PDr7oW0wi0EtEbsEHq1IhcM/L5IQQ5FubBpnjrITPANfx/VT2PCD1tH1zUwW+pb3
f077Wvxl4DN6WzYg5u/EMx3dwaep9H1sxbk8aiZXTsF3o84JCJdKgJJiHeJGpbgu
-----END PUBLIC KEY-----
